<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All for cycling</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- bootstrap links -->
    <!-- fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <!-- fonts links -->
</head>
<body>

  <%- include('components/header') %>
    
   <div class="container" id="login">
    <div class="row">
        <div class="col-md-5 py-3 py-md-0" id="side1">
            <h3 class="text-center">Cadastre seu produto</h3>
        </div>
        <div class="col-md-7 py-3 py-md-0" id="side2">
            <h3 class="text-center">Cadastro de produto</h3>
            <div class="input2 text-center">

            <input class="inputs required" oninput="nameValidate()" type="name" placeholder="Nome">
            <span class="span-required">Informe um nome valido</span>

            <select id="sec" class="form-select-center required" oninput="cateValidade()" aria-label="Select Categoria">
                <option  value="" disabled selected hidden>Selecione a categoria</option>
                <option value="Bicicleta">Bicicleta</option>
                <option value="EPI">EPI</option>
                <option value="Iluminação">Iluminação</option>
                <option value="GPS">GPS</option>
                <option value="Peças">Peças</option>
            </select>
            <span class="span-required">Selecione uma categoria</span>

            <select class="form-select-center required" oninput="condValidade()" aria-label="Select Qualidade">
                <option value="" disabled selected hidden>Selecione a qualidade</option>
                <option value="Novo">Novo</option>
                <option value="Usado">Usado</option>
            </select>
            <span class="span-required">Selecione o estado do produto</span>

            <input class="inputs required" oninput="descValidate()" type="name" placeholder="Descrição">
            <span class="span-required">Informe a descrição do produto</span>

            <input class="inputs required" type="number" oninput="valValidate()" placeholder="Preço">
            <span class="span-required">Informe o preço</span>

            <input type="file" style="background-color: rgb(75, 33, 192);" class="btn btn-success required" oninput="imgValidate()"id="myFile" accept="image/*"/>
            <span class="span-required">Informe uma imagem</span>
        
            </div>
            <p class="text-center" id="btnCadItem" ><a href="#" onclick="cadastrar()">Cadastrar</a></p>
            <span class="span-required">ERRO ao Criar Item!</span>
        </div>

    </div>
   </div>



    <%- include('components/footer') %>

    <a href="#" class="arrow"><i><img src="./images/arrow.png" alt=""></i></a>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="./scripts/scrpValCadItem.js"></script>

</body>
</html>