    <!-- footer -->
    <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
  
              <div class="col-lg-3 col-md-6 footer-contact">
                <h3>All for ciclyng</h3>
                <p>
                  Bicicleta <br>
                  EPI <br>
                  Peças <br>
                </p>
                <strong>Telefone:</strong> +55(86)994149637 <br>
                <strong>Email:</strong> allforcycling@.com <br>
              </div>
  
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Usefull Links</h4>
               <ul>
                <li><a href="\">Home</a></li>
                <li><a href="\Sobre">Sobre</a></li>
                <li><a href="\Contato">Contato</a></li>
                <li><a href="#">Termos de serviço</a></li>
                <li><a href="#">Política de Privacidade</a></li>
               </ul>
              </div>
  
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Nossas Redes Sociais</h4>
                <p>Siga-nos nas redes sociais</p>
  
                <div class="socail-links mt-3">
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  <a href="#"><i class="fa-brands fa-skype"></i></a>
                  <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
              
              </div>
  
            </div>
          </div>
        </div>
      </footer>
      <!-- footer -->