  <!-- navbar -->
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="\" id="logo"><span id="span1">All</span>For <span>Cycling</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><img src="./images/menu.png" alt="" width="30px"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="\">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorias
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(75, 33, 192);">
                  <li><a class="dropdown-item" href="/?filter=Bicicleta">Bicicleta</a></li>
                  <li><a class="dropdown-item" href="/?filter=EPI">EPI</a></li>
                  <li><a class="dropdown-item" href="/?filter=Iluminação">Iluminação</a></li>
                  <li><a class="dropdown-item" href="/?filter=GPS">GPS</a></li>
                  <li><a class="dropdown-item" href="/?filter=Peças">Peças</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="\Sobre">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="\Contato">Contato</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" href="\Login">Login</a>
              </li>
            </ul>
            <form class="d-flex" id="search">
              <input class="form-control me-2" id="searchInput" type="search" placeholder="Pesquisar" aria-label="Search">
              <button class="btn btn-outline-success" id="searchButton" type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
            </form>
          </div>
        </div>
      </nav>
    <!-- navbar -->

<script>
  // seleciona o formulário e o botão de envio
const login = document.getElementById("login");
const form = document.getElementById("search");
const button = document.getElementById("searchButton");

// adiciona uma função de retorno de chamada para o evento de envio de formulário
form.addEventListener("submit", function(event) {
  event.preventDefault(); // evita o envio padrão do formulário

  // obtém o valor do campo de entrada de pesquisa
  const searchValue = document.getElementById("searchInput").value;

  if(searchValue != ""){
    console.log("Valor de pesquisa: " + searchValue);
    window.location.href = "/?seach=" + searchValue;
  }

});

</script>